/* Home */
#home {
    background-color: rgb(161, 241, 95);
}

nav {
    /* border: 2px solid black; */
    display: flex;
}

#logo img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: inline;
    border: 1px solid black;
    margin-left: 15%;
}

#elements {
    margin-left: 45%;
    /* border: 2px solid black; */
    width: 60%;
    padding-top: 20px;
}

#elements a {
    margin-right: 12%;
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
}

.a {
    color: rgb(26, 103, 245);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-left: 45%;
}

/* Form */
#form {
    background: gray;
    border: 5px solid navy;

}

fieldset {
    width: 40%;
    border-radius: 20px;
    border: 4px solid white;
    background-color: rgb(137, 157, 90);

}

.inputs {
    border: 2px solid black;
    border-radius: 7px;
    width: 200PX;
    height: 24px;
}

.reset_btn {
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 7px;
}

.sub_btn {
    border: 2px solid black;
    border-radius: 7px;
    margin-left: 80%;
}

.inputs:hover {
    background-color: lightblue;
}

#details {
    margin-left: 40%;
}

/* Periodic Table */

#per_table {
    background: rgb(240, 138, 155);
}

#table1,
#table2,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

.none {
    border: 0;
}

#table1 {
    border-top: 0;
}

.peach {
    background-color: rgb(214, 82, 34);
}

.purple {
    background-color: rgb(175, 52, 173);
}

.lightblue {
    background-color: rgb(129, 155, 230);
}

.skin {
    background-color: rgb(245, 245, 176);
}

.brown {
    background-color: rgba(157, 91, 11, 0.991);
}

.lightgreen {
    background-color: rgba(68, 243, 68, 0.67);
}

.lightyellow {
    background-color: rgb(255, 255, 150);
}

.blue {
    background-color: rgb(106, 106, 255);
}

.white {
    background-color: rgba(255, 251, 251, 0.676);
}

.offwhite {
    background-color: rgb(234, 214, 214);
}

#last {
    margin-left: 75px;
}

h1 {
    color: black;
    text-align: center;
    background: linear-gradient(to left, black, white, black);

}

/* Chess Game */

#chess {
    background: black;
}

.safeed {
    background-color: wheat;
    width: 60px;
    height: 50px;
}

.hara {
    background-color: rgb(68, 125, 68);
    width: 60px;
    height: 50px;
}

#table3 {
    margin-left: 31%;
    font-size: 50px;
    text-align: center;
    border-collapse: collapse;
}

/* iframe */

#iframe{
    background-color: aquamarine;
    border: 3px solid black;
    display: flex;
}

#ifr_src{
    margin-left: 50px;
    border: 6px double black;
}

#ifr_h3{
    margin-left:20% ;
    margin-top:50px; 
    /* border: 3px solid black; */
}

#ifr_h3 h3{
    margin-top: 40px;
}

#ifr_h3 a{
    color: black;
    font-size: larger;
    font-weight: 600;
text-decoration: none;
}
#ifr_h3 h2{
    color: red;
}